body{
    margin: 0px;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}


h1{
    text-align: center;
    text-shadow: 3px 3px 5px hsl(86, 85%, 66%), -3px -3px 5px hsl(304, 81%, 60%);
    color: rgb(0, 0, 0);
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(43, 8%, 17%, 0.968);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: hsl(51, 79%, 71%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 0%);
}
.navbar li{
    float: left;
}